@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for nicer UI */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #35383b;
}

body {
    font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply min-h-screen bg-neutral-950 text-slate-100 antialiased;
    background-image: url('../assets/wavy-lines.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

