@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply min-h-screen bg-neutral-950 text-slate-100 antialiased;
    background-image: url('../assets/wavy-lines.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #app {
    @apply min-h-screen;
  }
}

@layer components {
  .gradient-title {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(135deg, #42d392 25%, #647eff 75%);
  }

  .gradient-ts {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(135deg, #3178c6 45%, #f0dc4e 90%);
  }
}
